.agagemFooter {
        display: flex;
    justify-content: space-around;
    flex-direction: column;
  width: 100%;
  height: 350px;
  //border: 1px solid;
  
  overflow: hidden;

//   @media screen and (min-width: 768px) {
//     flex-direction: row;
//   }

  & .agagemContainer {
    width: 100%;
    max-width: 350px ;
    margin: auto;
    position: relative;

    & section:nth-child(1) {
        height: 300px;
    }

    & section:nth-child(2) {
      position: absolute;
      top: 20px;
      left: 5%;
    }

    & section {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
      width: 90%;
      max-width: 320px;
      margin: auto;

      & .footerContent {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 100%;
        height: 150px;
        color: #c96513;
        padding: 0.5%;
      }
    }
  }

  & button {
    width: 120px;
    padding: 0.4%;
    border-radius: 15px;
    border-color: #c96513;
    color: #c96513;
    margin: 20px auto;
    background: transparent;
  }
}
