.agagemFooter {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 350px;
  box-shadow: inset 0 0 25px #eebf98;
  overflow: hidden;
  position: relative;
  z-index: 1000;



  & .agagemContainer {
    width: 100%;
    max-width: 350px;
    height: 300px;
    margin: auto;
    position: relative;
    //border: 1px solid;

    & section {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
      width: 90%;
      height: 100%;
      max-width: 320px;
      margin: auto;
      //border: 1px solid;

      & .footerContent {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 100%;
        height: 180px;
        color: #462810;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0.5%;
        // border: 1px solid; 

        & span {
          cursor: pointer;
          & img {
            transform: translate(0, 5px);
          }
        }
      }
    }
  }

  & button {
    width: 120px;
    padding: 0.4%;
    border-radius: 15px;
    border-color: #c96513;
    color: #462810;
    margin: 20px auto;
    background: transparent;
  }

  & .contact {
    margin: auto;
    cursor: pointer;
  }
}
