.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 90%; 
    max-width: 500px;
    overflow: hidden;
    position: relative; 
    height: 40px; 

    &  .nav_agagem {
        list-style: none;
        margin: 0;
        padding: 0;
        transform: translateY(0); 
        width: 50%; 
        height: 100%; 
        overflow: hidden;    
        & ul {
            display: flex;
            flex-direction: column; 
            & li {
                display: grid;
                place-content: center;
                height: 40px;
                border-radius: 5px;
                border: 1px solid #fcebdd ;
                box-shadow: inset 0 0 15px #e2b795;
                color: #c96513;
                letter-spacing: 1px;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
      }

    & .navArrow {
        display: grid;
        place-content: center;
        cursor: pointer;
        font-size: 1.1rem;
        user-select: none;
        border: none;
        width: 30px; 
        height: 30px; 
        border-radius: 10px;
        color: #c96513;
        //border: 1px solid;

        &:active {
            scale: 1.4;
          }
      }

  }
  
 
  

  

  