.resina {
    display: grid;
    place-content: center;
    // width: 90%;
    margin: 20px auto;
    // border: 1px solid;

    & figure {
        & img {
            border-radius: 15px;
            box-shadow: 0 0 10px #000;
            width: 100%;
        }
    }
}