* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  /* max-width: 100vw; */
}

body {
  background: #fcebdd ;
}

a {
  color: inherit;
  text-decoration: none;
}

picture {
  display: flex;
}

.logoAgagem {
  margin:  20px auto;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
  max-width: 500px;
  height: 320px;
  margin: 20px auto;
  color: #462810;
}