@use "./components/NavStyles";

.mySwiper {
  width: 90%;
  max-width: 500px;
  height: 300px;
  position: absolute;
  transform: translate(0, 100px );
  // overflow: hidden;
  //border: 1px solid;
  transition: 0.5s ease-in-out;

  & .swiper {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    // display: none;
    & figure {
      padding: 2%;
      //border: 1px solid;
      overflow: hidden;
      & img {
        width: 100%;
        box-shadow:  0 0 5px 1px #000;
        border-radius: 15px;
      }
    }
   
  }
}