.nav_agagem {
  border: 1px solid;
  & ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
}

.pack {
  width: 100%;
  position: absolute;
  margin:  200px auto;

  & picture {
    align-items: center;
    width: 220px;
   //border: 1px solid #000;
    margin: 20px auto;
    & img {
      //box-shadow: 0 0 5px #000;
      border-radius: 15px;
    }
  }
}



